.lstHdr {
  border-bottom: 1px solid var(--gray200);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--xxs);
}

.lstHdr [section="center"] {
  flex: 1;
}
.lstHdr [section]:empty {
  display: none;
}