.lstInputWr {
    position: relative;
    display: flex;
    align-items: center;
  }

  .lstInput.lstError, .lstInput:invalid  {
    border-color: var(--red);
  }
  .lstInputAfter {
    padding: 0 .3em;
    font-size: var(--fs-xxs);
  }
  .lstInput.lstError + .lstInputAfter {
    color: var(--red);
  }
  
  .lstInput::-webkit-datetime-edit-fields-wrapper {
    line-height: 1.2;
  }
  
  .lstInput.lstError {
    border-color: var(--red);
  }
  .lstInputAfter {
    padding: 0 .3em;
  }
  .lstInputAfter:empty {
    display: none;
  }
  .lstUI input[disabled] {
    background-color: var(--gray);
  }