.lstDialog {
    position: fixed;
    min-width: 320px;
    width: 80%;
    max-width: 768px;
    background-color: #ffffff;
    max-height: calc(100vh - (var(--xs) * 2));
    padding: var(--s) var(--xs) var(--xs);
    overflow-y: auto;
    z-index: 9999;
    outline: 3px solid rgba(0, 0, 0, 0.02);
    border-radius: 13px;
    border: 1px solid var(--gray200);
}
.lstDialog h2 {
    margin-bottom: 0;
    font-weight: 600;
}
.lstDialog h2:empty {
    display: none;
}
p.lstDialogDescription {
    margin-bottom: var(--xxs);
}
p.lstDialogDescription:empty {
    display: none;
}
.lstDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.08);
}

.lstDialog .lstClose {
    width: min-content;
    top: 0;
    right: 0;
    translate: 0 calc(-1 * var(--xs));
    position: sticky;
    float: right;
    padding: 0 5px;
    box-sizing: content-box;
    margin-bottom: auto;
    font-size: var(--fs-s);
}

.lstDialog.l-full-screen {
    width: 100vw;
    height: 100vh;
    max-width: initial;
    max-height: initial;
    border-radius: 0;
}
body:has(.l-full-screen[open]) {
    overflow: hidden;
}
