.lstSpinner:before {
  position: absolute;
  content: '';
  mask: url(preload.svg);
  mask-size: cover;
  display: block;
  height: calc(100%);
  width: calc(100%);
  animation: fadeInSpin .8s forwards, spin .8s infinite linear;
  opacity: 0;
  background-color: var(--black);
}
@keyframes fadeInSpin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}