.lstBtns {
    gap: .5em;
}
.lstBtns > button {
    background-color: transparent;
}
.lstBtns.l-radio-type {
    gap: 1em;
}
.lstBtns.l-radio-type > button {
    padding-left: 2.2em;
}
.lstBtns.l-radio-type > button:before {
    position: absolute;
    content: '';
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    border: 1px solid var(--gray400);
    margin-right: .8em;
    margin-left: -2.2em;
}
.lstBtns.l-button-type > button {
    background-color: var(--gray);
    border-radius: 8px;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.lstBtns.l-button-type > button.l-active {
    background-color: black;
    color: white;
}
.lstBtns > button:enabled:active {
    font-weight: 600;
}

.lstBtns > button.l-active {
    font-weight: 600;
}

.lstBtns.l-radio-type > button.l-active:before {
    border: .5em solid var(--gray700);
}
.lstBtns.l-radio-type.lstError button:before {
    border-color: red
}
.lstBtns.l-radio-type:has(.l-active) button:not(.l-active):before {
    border-color: var(--gray700)
}
